@import url("https://fonts.googleapis.com/css2?family=Syne&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Syne", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    @apply m-0 bg-base text-base-content;
  }

  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    @apply bg-base;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-white bg-opacity-20;
    border-radius: 10px;
  }
}

@layer utilities {
  .brand-text {
    @apply bg-gradient-to-r from-primary to-secondary bg-clip-text text-transparent;
  }
}